# Monday + Friday 6.30 AM - 1 PM
30/5     6       *   *   1-5 /Users/nshah/PycharmProjects/StockAlerts/stockAlerts.py >>/Users/nshah/PycharmProjects/StockAlerts/cronStockAlert.log 2>&1
*/5     7-13       *   *   1-5 /Users/nshah/PycharmProjects/StockAlerts/stockAlerts.py >>/Users/nshah/PycharmProjects/StockAlerts/cronStockAlert.log 2>&1